.App {
  background-color: #ddd;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.buttons {
  display: flex;
  justify-content: center;
}